body {
    font-family: Montserrat;
}

.main {
    margin: 0 45px;
}

.nav-setting {
    border-bottom: 1px solid transparent;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.nav-setting:hover {
    border-bottom: 1px solid black;
}

.phone {
    width: fit-content;
    
}

.phone__settings {
    padding: 10px 20px;
    border-radius: 90px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    border: 1px solid #0056b3;
}

.slider__tour {
    background-image: url(/images/slider.svg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

.block__title h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: white;
}

.block__title span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: white;
}

.block__links a:last-child svg{
    margin-right: 10px;
}

.block__link {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
    padding: 15px 30px;
    border-radius: 91px;
}


.link-first {
    border: 3px solid #0040E3;
    background-color: #0040E3;
}

.link-second {
    border: 3px solid white;
    background-color: rgba(0, 0,0, .3);
}

.sec2__block-right {
    margin-left: auto;
}

.sec2__block-right h2 {
    color: white;
    font-weight: bold;
}

.block__elements {
    background-image: url(/images/sochi.svg);
    width: 520px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.element__title h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

.element__title span {
    font-family: Montserrat;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.element__price span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    color: white;
}

.search__form {
    border: 1px solid #2078FB;
    padding-right: 5px;
}

.search__form input{
    color: #808080;
    width: 200px;
    padding: 20px;
    border: 0;
    margin-right: -5px;
    outline: none;
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.search__form label {
    margin: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px;
    color: #808080;
}

.search__form input:first-child {
    width: 350px;
    border-right: 3px solid gray;
}

.search__form input:last-child {
    font-style: normal;
    background: #0040E3;
    color: white;
}

.search__form input:last-child:hover {
    font-style: normal;
    background: #07297e;
    color: rgb(165, 164, 164);
}

.social__title h3 {
    writing-mode: vertical-rl;
    margin-left: 6px;
    font-style: normal;

    color: #0040E3;
    font-weight: 800;
    font-style: 24px;
}

.shop__element {
    min-width: 200px;
    max-width: 400px;
    border: 2px solid #0040E3;
}

.tour__block-top {
    background-image: url(/images/tour_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}

.tour__dec p{
    margin: 0;
    padding: 5px 30px;
    border: 1px solid rgba(0, 0,0, .3);
    border-radius: 4px;
    background: #04CA00;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.tour__time p {
    margin: 0;
    padding: 5px 20px;
    width: 130px;
    text-align: center;
    border-radius: 90px;
    border: 2px solid #0040E3;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #252424;
}

.profile__name {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.likes span {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.tour__information h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.tour__information p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #252424;
}

.tour_day {
    padding: 5px 20px;
    background: #FF5757;
    border-radius: 4px;
}

.tour__price {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.tour__more a {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}